
.background{
   
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;  
    height: 360px;
}
.header{
    border: 2px solid black;
    background-color: yellow;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 5px;
    padding: 5px;
}
.text-f{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%; /* Bo tròn hình chữ F */
    text-align: center;
    line-height: 30px;
    margin-right: 20px; 
}
.circle{
    border:1px solid black;
    border-radius: 20px;
    height: 30px;
    margin-left: 20px;
    width: 30px;
    display: flex;

}
.imgvn{
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.hcn{
    display: flex;
    border: 1px solid black;
    
    height: 30px;
    width: 30px;
    margin-left: 20px;

}


.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
    height: auto;
    
}

.border_contain {
    
    justify-content: left;
    align-items: flex-end;
    display: flex;
    height: 120px;
    width: 1000px;
    margin: 0 auto;
    background-color: yellow; 
    position: relative;
    margin-top: 20px
    
}
.background_6stars{
    width: 1500px;
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around; 
    align-items: center;
   
}

.text{
    border: 1px hidden black;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    left: 40px;
    top: 5px;
    width: 780px;
    margin: 0 auto;    
    position: relative;
    
}
.text_h1{
    margin-left: 5px; 
    font-weight: bold;
    margin: 0 auto;
}
.text_p{
    font-size: 16px;
    margin: 5px -5px;
}


.profile{
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    bottom: -80px;
    position: absolute;
    left: 35px;

}
.right_text{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    height: 25px;
    background-color: blanchedalmond;
    padding:7px;
    
}
.h3_right{
    font-size: 15px;margin-left: 5px;
}
.footer_p{
    color:aqua;

}
::placeholder{
    font-weight: bold;
    font-size: 18px;
    color: black;
    opacity: 1;
}


.textP{
    margin:0;
    font-size: 15px;
    padding: 2px;
    display: flex; 
    text-align: center; 
    justify-content: center;
}

.img_1{
    width: 20px;
}
.under_line{
    border: 1px solid black; 
    margin: 0;
    width: 100%;
    margin-top: 40px;
    
}
.search{
    background-color: yellow;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
}

.footer{
    border: 1px hidden black;
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}
.footer_left{
    font-weight: bold;
    display: flex; 
    margin-top: 2px;
    margin-left: 60px;
    justify-content: space-around;
    font-size: 18px;
}
.img_right2{
    width: 20px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right{
    display: flex;
    border: 1px hidden black;
    width: 250px;
    height: 40px;   
    margin-left: 130px;
   
    
}
.footer_right1{
    top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: yellow;
    width: 80px;
    height: 25px;
    margin: 11px 0;
    font-weight: bold;
    font-size: 18px;
    color: aquamarine;
    
}
.footer_right2{
    
    margin: 11px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: yellow;
    width: 40px;
    height: 25px;
}
.footer_right3{
    
    margin: 11px 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: yellow;
    width: 30px;
    height: 25px;
    font-size: 25px;
    
}
.footer_text_right3{
    font-size: 23px;

    justify-items: center;
    align-items: center;
    margin: -10px 0 0 0;
}
.dropbtn{
    background-color: white;
    color: black;
    width: 50px; 
    font-size: 18px;
    border: none;
    display: flex;
    margin-top: 17px;  
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: aqua;
}
